body{
    overflow-x: hidden;
}
.logo{
    height: 35px;
}
.links:hover{
    border-bottom:3px solid   #51b56d;
   color:  #51b56d !important;
}
.login{
    background-color: #e0f3a5;
    color: #51b56d;
}
.signup{
    background-color: #51b56d;
    color: white;
}
.login:hover{
    background-color: #51b56d;
    color: white;
}
.signup:hover{
    background-color: #51b56d;
    color: white;
}
.hero h1{
    font-weight: 900;
    padding-right: 70px;
    font-size: 48px;
}
.services h6{
    color: #42955a;
    font-weight: bold;
}
.services h2{
    font-weight: 800;
}
.services .poerson-services .sv2{
    background-color: #DEF0E2;
    color: #917aeb;
    font-weight: 900;
}
.services .poerson-services .sv1{
    background-color:#DEF0E2;
    color: #03f353;
    font-weight: 900;
}
.services .poerson-services:hover{
    box-shadow: 0 0 100px rgb(203, 202, 202);
}
.about h2{
    font-weight: bold;
    font-size: 40px;
}
.about h6{
    color: #42955a;
    font-size: bold;
}
.deffernce h2{
    font-weight: bold;
    font-size: 40px;
}
.deffernce h6{
    color: #42955a;
    font-size: bold;
}
.deffernce .shield{
    
    font-size: 45px ;
    background-color: beige;
    color: #917aeb;
    padding: 20px;
    border-radius: 10px;
}
.deffernce .shieldh{
    font-size: 45px ;
    background-color: beige;
    color: #5ef159;
    padding: 20px;
    border-radius: 10px;
}
.deffernce .shieldb{
    font-size: 45px ;
    background-color: beige;
    color: #3b97e2;
    padding: 20px;
    border-radius: 10px;
}
.deffernce .site:hover{
    box-shadow: 0 0 100px rgb(203, 202, 202);
    padding: 20px;
}
@media (max-width: 576px) { 
    .about img{
        width: 100%;
    }
    .hero img{
        width: 100%;
    }
    .deffernce h2{
        font-size: 20px;
    }
 }
 .about img{
    margin-left: 150px;
 }

.hero img{
    padding: -7%;
}